@import 'src/styles.scss';

@import url("https://fonts.googleapis.com/css?family=Poppins");

mat-toolbar {
    background-color: #333;
    color: #fff;

    img {
        width: 60px;
    }

    a {
        color: white;


        &:hover {
            color: #4E2A94;
        }
    }
}

span {
    color: #fff;
    font-family: "Poppins";
    font-weight: bold;

    // &::before {
    //     content: url("assets/icon.png");
    // }
}