<mat-toolbar>
    <img src="assets/icon_white.png" alt="Bug's Creators logo" routerLink="home">
    <span routerLink="home">Bug's Creators</span>

    <span class="spacer"></span>

    <div *ngIf="loginStatus">
        <a mat-button routerLink="home">Inicio</a>
        <a mat-button routerLink="profile">Perfil</a>
        <!-- <a mat-button routerLink="config">Config</a> TODO: Remove configuration (not needed) -->
        <a mat-button (click)="logout()">Salir</a>
    </div>

    <div *ngIf="!loginStatus">
        <a mat-button routerLink="login">Login</a>
        <a mat-button routerLink="signup">Signup</a>
    </div>
</mat-toolbar>