@import 'src/styles.scss';

@import url("https://fonts.googleapis.com/css?family=Poppins");

mat-toolbar {
    background-color: #333;
    color: #fff;

    img {
        width: 60px;
    }

    .links {
        display: inline-block;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    a {
        color: white;
        margin-right: 10px;

        &:hover {
            color: #4E2A94;
        }
    }
}

span {
    color: #fff;
    font-family: "Poppins";
    font-weight: bold;

    // &::before {
    //     content: url("assets/icon.png");
    // }
}