@import 'src/styles.scss';

@import url("https://fonts.googleapis.com/css?family=Poppins");

mat-toolbar {
    background-color: $theme-accent;
    color: #fff;

    img {
        width: 60px;
    }

    a {
        color: white;
        margin-right: 10px;

        &:hover {
            color: $highlight-color;
        }
    }
}

span {
    color: #fff;
    font-family: "Poppins";
    font-weight: bold;
}

img, span {
    &[routerLink="home"] {
        cursor: pointer;
    }
}

.spacer {
    flex: 1 1 auto;
}
