<div class="posts">
    <h1>Title</h1>
    <div class="post-date">
        <span>Date: 2023-11-02</span>
    </div>
    <div class="post">
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Juan </span>
        </div>
        <div class="description">
            <!-- Muestra la descripción de la publicación -->
            <p>{{ publicationData?.description }}</p>
        </div>
        <div class="code">
            <!-- Muestra el contenido de la publicación -->
            {{ publicationData?.code }}
        </div>
        <div class="tags">
            <!-- Muestra las etiquetas de la publicación -->
            {{ publicationData?.tags }}
        </div>
    </div>
    <div class="comments">
        <h1>Comenta algo </h1>
        <h4>Deja un comentario para que la comunidad pueda verlo</h4>
        <textarea id="comments" name="comments"></textarea>
        <button mat-raised-button>Post</button>
    </div>
</div>