<div class="posts">
    <h1>Title</h1>
    <div class="post-date">
        <span> {{ publicationData.date }} </span>
    </div>
    <div class="post">
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> {{ userData.user}} </span>
        </div>
        <div class="description">
            <!-- Muestra la descripción de la publicación -->
            <p>{{ publicationData.description }}</p>
        </div>
        <div class="tags">
            <!-- Muestra las etiquetas de la publicación -->
            {{ publicationData.tags }}
        </div>
    </div>
    <div class="comments">
        <h1>Comenta algo </h1>
        <h4>Deja un comentario para que la comunidad pueda verlo</h4>
        <textarea id="comments" name="comments"></textarea>
        <button mat-raised-button>Post</button>
        <button mat-raised-button (click)="gptResponse()">GPT response</button>
        <bgc-puplished-comments [comments]="publicationData.comments"></bgc-puplished-comments>
    </div>
</div>