<bgc-sidebar></bgc-sidebar>
<div class="posts">
    <h1>Title</h1>
    <div class="post-date">
        <span>Date: 2023-11-02</span>
    </div>
    <div class="post">
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Juan </span>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Amet perferendis distinctio atque corrupti id, nesciunt molestiae! Quo voluptas,
                dignissimos dolorem facilis tenetur fuga dolor. Accusamus ducimus reiciendis beatae ut vitae?</p>
        </div>
        <div class="code">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus blanditiis eveniet ea beatae voluptas et
            debitis atque facere voluptate dolores? Tempora voluptas eum molestiae iure, harum impedit magni numquam
            vel.
        </div>
        <div class="tags">Programación</div>
    </div>
    <div class="comments">
        <h1>Comenta algo
        </h1>
        <h4>Deja una comentario para que la comunidad pueda verlo</h4>
        <textarea id="comments" name="comments"></textarea>
        <button mat-raised-button>Post</button>
    </div>
</div>