@import 'src/styles.scss';

footer {
    height: 80px;
    text-align: center;
    background-color: $theme-accent;

    span {
        color: white;
        font-size: 18px;
        padding-top: 20px;
        display: inline-block;
    }
}