<div class="published-comments">
    <h1>Comentarios</h1>
    <h4>Lo que ha comentado la comunidad</h4>
    <div *ngFor="let comment of comments" class="comment">
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> {{ comment.user }} </span>
        </div>
        <div class="post-date">
            <span>Date: {{ comment.date }}</span>
        </div>
        <div class="description">
            <p>{{ comment.description }}</p>
        </div>
    </div>
</div>