<!-- Botón de puntuación -->
<button class="score-button1">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
</button>
<button class="score-button">
    <i class="fa fa-star" aria-hidden="true"></i>
</button>
<button class="score-button2">
    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
</button>

<div class="published-comments">
    <h1>Comentarios
    </h1>
    <h4>Lo que ha comentado la comunidad</h4>
    <div class="post-user">
        <span> <i class="fa fa-user" aria-hidden="true"></i> María </span>
    </div>
    <div class="post-date">
        <span>Date: 2023-11-29</span>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Amet perferendis distinctio atque corrupti id, nesciunt molestiae! Quo voluptas,
            dignissimos dolorem facilis tenetur fuga dolor. Accusamus ducimus reiciendis beatae ut vitae?</p>
    </div>
    <div class="code">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus blanditiis eveniet ea beatae voluptas et
        debitis atque facere voluptate dolores? Tempora voluptas eum molestiae iure, harum impedit magni numquam
        vel.
    </div>
</div>