<content>
    <form [formGroup]="signupForm">
        <h1>Registro</h1>

        <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input matInput type="text" name="username" formControlName="username">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error> 
                {{ hasError('username', 'required') ? 'Este campo es requerido' : 'Necesitas al menos 5 caracteres'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput type="email" name="mail" formControlName="mail">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="hasError('mail', 'email')">Mail inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" name="phone" formControlName="phone">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" name="password" formControlName="password">
            <mat-icon matSuffix>password</mat-icon>
            <mat-error>
                {{ hasError('password', 'required') ? 'Este campo es requerido' : 'Necesitas al menos 8 caracteres'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirma la contraseña</mat-label>
            <input matInput type="password" name="confirm" formControlName="confirm">
            <mat-icon matSuffix>password</mat-icon>
            <mat-error>
                {{ hasError('confirm', 'required') ? 'Este campo es requerido' : 'Necesitas al menos 8 caracteres'}}
            </mat-error>
        </mat-form-field>

        <div>
            <mat-checkbox color="primary" formControlName="terms">
                Prometo no abusar de las respuestas de GPT
            </mat-checkbox>
        </div>

        <div id="controls">
            <button mat-flat-button color="primary" [disabled]="signupForm.invalid">Ingresa</button>
        </div>
        <hr>

        <p>¿Ya tienes cuenta? <a routerLink="/login">Ingresa aquí</a></p>
    </form>
</content>
