@import 'src/styles.scss';

content {
  background: url("/assets/blobs-longer.gif") top center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

form {
  max-width: 500px;
  margin: 40px auto 20px;
  background-color: #FFF;
  padding: 40px;
  border-radius: 20px;

  mat-form-field {
    width: 100%;
    cursor: text;
  }

  h1 {
    text-align: center;
    font-weight: bolder;
    color: $highlight-color;
  }

  button {
    box-shadow: 0 1px 3px #000;
    transition: 0.3s ease-in-out;
  }

  button:hover {
    letter-spacing: 3px;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }


  hr {
    margin: 20px 0 40px 0;
    border-color: lightgray;

    +p {
      text-align: center;
    }
  }

  #controls {
    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    mat-spinner {
      scale: 0.4;
    }
  }
}

a {
  color: $highlight-color;
}