<!-- Publicaciones -->
<div class="posts">
    <h1>HOME</h1>

    <div class="post" *ngFor="let publication of publications">
        <h2><a routerLink="/publication"> {{ publication.title }} </a> </h2>
        <div class="tags"> {{ publication.tags }} </div>
        <p> {{ publication.description }} </p>
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Usuario: {{ publication.user }} </span>
        </div>
        <div class="post-date">
            <span>Fecha: {{ publication.date }}</span>
        </div>
    </div>
</div>