<!-- Publicaciones -->
<div class="posts">
    <h1>HOME</h1>

    <!-- Publicación 1 -->
    <div class="post">
        <h2><a routerLink="/publication"> Título de la Publicación 1 </a> </h2>
        <div class="tags">Etiquetas: Tecnología, Programación</div>
        <p>Descripción de la publicación 1...</p>
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Usuario: Juan </span>
        </div>
        <div class="post-date">
            <span>Fecha: 2023-11-02</span>
        </div>
    </div>

    <!-- Publicación 2 -->
    <div class="post">
        <h2>Título de la Publicación 2</h2>
        <div class="tags">Etiquetas: Viajes, Comida</div>
        <p>lorem*40</p>
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Usuario: María</span>
        </div>
        <div class="post-date">
            <span>Fecha: 2023-11-02</span>
        </div>
    </div>

    <!-- Publicación 3 -->
    <div class="post">

        <h2>Título de la Publicación 3</h2>
        <div class="tags">Etiquetas: Deportes, Salud</div>
        <p>Descripción de la publicación 3...</p>
        <div class="post-user">
            <span> <i class="fa fa-user" aria-hidden="true"></i> Usuario: Carlos</span>
        </div>
        <div class="post-date">
            <span>Fecha: 2023-11-02</span>
        </div>
    </div>
</div>