h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
    color: #000;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #4E2A94;
}

/* Comienzo navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color: #4E2A94;
}

.sidebar {
    width: 16%;
    background-color: rgba(242, 240, 242, 0.845);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 4%;
    height: 100%;
}

.sidebar button {
    display: block;
    word-spacing: 5px;
    margin-bottom: 10px;
    background-color: rgba(242, 240, 242, 0.845);
    border: 2px solid rgba(242, 240, 242, 0.845);
    font-size: 18px;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #4E2A94;
    color: rgba(242, 240, 242, 0.845);
}

.sidebar h2 {
    color: #000;
    font-size: 30px;
}

.posts {
    margin-left: 20%;
    padding: 20px;
}

.post {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.482);
    margin: 10px 0;
    padding: 10px;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 4px 10px #000;
    border-radius: 6px;
}

.post h2:hover {
    text-decoration: underline;
}

.post-user,
.post-date {
    font-size: 14px;
    font-style: italic;
    align-self: flex-end;
    margin: 0;
}


.tags {
    font-size: 12px;
    color: #fff;
    background-color: #4E2A94;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .sidebar {
        width: 20%;
    }

    .posts {
        margin-left: 20%;
    }
}

@media (max-width: 991px) {
    .sidebar {
        width: 30%;
    }

    .posts {
        margin-left: 800px;
        margin-right: 100px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: static;
    }

    .posts {
        max-width: 1000px;
    }
}