@import 'src/styles.scss';

content {
  background: url("/assets/blobs-longer.gif") top center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

form {
  max-width: 500px;
  margin: 40px auto 20px;
  background-color: #FFF;
  padding: 40px;
  border-radius: 20px;

  mat-form-field {
      width: 100%;
      cursor: text;
  }

  h1 {
    text-align: center;
    font-weight: bolder;
    color: $highlight-color;
  }

  #controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  hr {
    margin: 40px 0;
    border-color: lightgray;

    + p {
      text-align: center;
    }
  }
}

a {
  color: $highlight-color;
}
