<div class="publication-form">
    <h1>Publica algo!</h1>
    <form [formGroup]="publicacionForm" (ngSubmit)="enviarPublicacion()">

        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput type="text" name="title" formControlName="title" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Etiquetas</mat-label>
            <input matInput type="text" name="tags" formControlName="tags">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput type="text" name="description" formControlName="description" required>
        </mat-form-field>

        <button mat-flat-button color="primary">Publicar</button>
    </form>
</div>